name: Deploy to Hugging Face Space

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"

          git remote add hf https://huggingface.co/spaces/JaceDashS/gpt-visualizer
          git push https://JaceDashS:${HF_TOKEN}@huggingface.co/spaces/JaceDashS/gpt-visualizer main --force
